/*
            Farben:

    Blau:           #1F4E8C
    Dunkel-Grau:    #3d3f45
    Hell-Grau:      #f0f0f0
    Rot:            #a62c21


*/
:root {
    --blau: #1F4E8C;
    --dunkelGrau: #3d3f45;
    --hellGrau: #f0f0f0;
    --rot: #a62c21;
}

/* Global */
body{
    margin: 0%;
    font-family: 'Open Sans','Lato', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

:focus {
    outline: none;
    box-shadow: 0 0 2px 2px var(--hellGrau), 0 0 10px var(--hellGrau);
}

section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 1366px) {
    section{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 1024px) {
    section{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* Generelles*/

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.active{
    background-color: var(--rot);
}


.wichtiger-text{
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
}

.screenreader{
    display: none;
}

.btn-typ-1{
    background-color: var(--rot);
    border: 2px solid var(--rot);
    color: #fff;
    padding: .4rem .4rem;
    transition: border .2s ease-in-out;
}

.btn-typ-1:hover{
    border: 2px solid #fff;

}

.btn-typ-2{
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: .4rem .6rem;
    transition: color .2s ease-in-out, border .2s ease-in-out;
}

.btn-typ-2:hover{
    color: var(--rot);
    border: 2px solid var(--rot);
}

.btn-type-3{
    border: 2px solid var(--dunkelGrau);
    background-color: transparent;
    font-size: 1rem;
    color: var(--dunkelGrau);
    width: 150px;
    height: 39px ;
    transition: border .2s ease-in-out;
}

.btn-type-3:hover{
    border: 2px solid var(--);
    color: var(--rot);
}

.intro-container{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

@media (max-width: 1366px) {
    .intro-container{
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .intro-container{
        width: 100%;
    }
}


.intro-container > h1{
    font-size: 1.6rem;
    text-transform: uppercase;
}

.intro-container > p{
    font-size: 1.3rem;
}

@media (max-width: 1366px) {
    .intro-container > p{
        margin-bottom: 1rem;
    }
}

@media (max-width: 1024px) {
    .intro-container > p{
        margin-bottom: 0;
    }
}

/*  Navigationsleiste   */

#header-nav{
    width:100%;
    height: 50px;
    background-color: var(--dunkelGrau) ;
    position: relative;
    font-size: 1.1rem;
}

#header-nav a > img{
    height: 30px;
    width: auto;
    float: left;
    margin-top: .55rem;
}

#header-nav  ul{
    margin: 0;
    padding: 0;
    float: right;
    right: 1rem;
    height: 100%;
}

#header-nav  ul > li{
    display: inline-block;
    height: 100%;
    padding: 0 .2rem 0 .4rem;
}

#header-nav  ul > li > a{
    display: inline-block;
    margin-top: .8rem;
}

#header-nav  ul > li >a:link{
    color: #fff;
    text-decoration: none;
}

#header-nav ul > li >a:hover{
    color: var(--hellGrau);
    text-decoration: none; 
}

#header-nav ul > li >a:active{
    color: var(--hellGrau);
    text-decoration: none; 
}

#header-nav ul > li >a:visited{
    color: #fff;
    text-decoration: none;
}

#header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
    height: 100%;
}

.logo-link{
    display: inline-block;
}


.active{
    background-color: var(--rot);
}

/* Navigationsleiste (Mobil)*/
#mobile-nav-button{
    color: #fff;
    float: right;
    font-size: 2rem;
    border: 2px solid #fff;
    width: 37px;
    height: 37px;
    position: relative;
    margin-top: .4rem;
    margin-bottom: .45rem;
}


#mobile-nav-button > span{
    position: absolute;
    bottom: -2px;
    left: 7px;
}

#mobile-nav-content >ul >li{
    display: block;
    background-color: var(--dunkelGrau);
    height: 50px;
    padding: 0 1.2rem;
    text-align: center;
}

#mobile-nav-dropdown{
    position: relative;
    display: block;
    float: right;
}

#mobile-nav-content{
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
}

#mobile-nav-dropdown:hover > #mobile-nav-content{
    display: block;
}

#mobile-nav-content >ul > .active{
    background-color: var(--rot);
}

#mobile-nav{
    display: none;
}

@media (max-width: 768px) {

    #desktop-nav{
        display: none;
    }

    #mobile-nav{
        display: block;;
    }

}

/* Header-Banner */
 
#header-banner{
    width: 100%;
    height: 0;
    padding-top: 20.83%;
    background: url("../img/hintergrund.jpg") no-repeat center center;
    background-size: contain;
}

#header-banner-klein{

    width: 100%;
    height: 0;
    padding-top: 15.62%;
    background: url("../img/hintergrund-klein.jpg") no-repeat center center;
    background-size: contain;

}

/* Newsletter-Bereich*/

#newsletter-bereich{
    width: 100%;
    background-color: var(--dunkelGrau);
    padding-top: 0;
    padding-bottom: 0;
}

#nb-werbetext{
    color: #fff;
    font-size: 1.2rem;
}

#nb-form{
    margin-top: .7rem;
    float: right;
    width: 100%;
    text-align: right;
}

#nb-email-input{
    width: 76%;
    height: 35px;
    border: 2px solid #fff;
    padding: .4rem;
}

#nb-btn{
    height: 35px;

}



@media (max-width: 1822px) {
    
    #nb-email-input{
        width: 70%;
    }

}

@media (max-width: 1358px) {
    
    #nb-email-input{
        width: 100%;
        margin-bottom: .5rem;
    }
    #nb-btn{
        width: 100%;
    }
}

@media (max-width: 768px) {
    
    #nb-werbetext{
        display: none;
    }
    
    #nb-form{
        margin-top: 0;
    }

    #newsletter-bereich .col-4{
        display: none;
    }
}


@media (max-width: 480px) {
    
    #nb-email-input{
        height: 25px;
    }
    #nb-btn{
        height: 25px;
    }
    
}


/* Animiertes Logo */

@keyframes logoAnimation {
    0% {transform: rotateZ(0deg);}
    11.111% {transform: rotateZ(0deg);}
    22.222% {transform: rotateZ(90deg);}
    33.333% {transform: rotateZ(90deg);}
    44.444% {transform: rotateZ(180deg);}
    55.555% {transform: rotateZ(180deg);}
    66.666% {transform: rotateZ(270deg);}
    77.777% {transform: rotateZ(270deg);}
    88.888% {transform: rotateZ(360deg);}
    100% {transform: rotateZ(360deg);}
}


#animiertes-logo{
    height: 150px;
    width: 150px;
    background-color: var(--dunkelGrau);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    padding: 25px;

}

#animiertes-logo > img{
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto; 
    animation: logoAnimation 5s ease-in-out infinite alternate;   
}

/* Leistungen-Bereich*/

.leistungs-teaser-box{
    background-color:var(--dunkelGrau);
    text-align: center;
    color: #fff;
    padding: 1rem 3rem 2.5rem;
    width: 60%;
    margin-bottom: 1.6rem;
}




#leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box{
    margin-left: 1rem;
    margin-right: auto;  
}

#leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box{
    margin-right: 1rem;
    margin-left: auto;
}

.leistungs-teaser-box >h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.leistung-ansehen-btn{
    text-decoration: none;
    height: 35px;
    display: inline-block;
    padding-top: .2rem;
    width:100px;
    margin-top: 1rem;
}

.leistung-ansehen-btn:link{
    color: #fff;
}

.leistung-ansehen-btn:visited{
    color: #fff;
}

.leistung-ansehen-btn:active{
    color: #fff;
}

.leistung-ansehen-btn:hover{
    color: var(--rot);
    border: 2px solid var(--rot);
}

@media (max-width: 1336px) {
    
    .leistungs-teaser-box{
        width: 80%;
    }
}

@media (max-width: 1024px) {
    
    .leistungs-teaser-box{
        width: 100%;
        margin-bottom: .6rem;
    }

    #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box{
        margin-left: .5rem;  
    }
    
    #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box{
        margin-right: .5rem;
    }
}

@media (max-width: 768px) {
    #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box{
        margin-left: 0rem;  
    }
    
    #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box{
        margin-right: 0rem;
    }

}


/* Video-Bereich */

#video-bereich{
    background-color: var(--dunkelGrau);
    color: #fff;

}

#video-bereich video{
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 1440px) {
    
    #video-bereich video{
        width: 45%;
    }
}

@media (max-width: 1024px) {
    
    #video-bereich video{
        width: 60%;
    }
}

@media (max-width: 768px) {
    
    #video-bereich video{
        width: 75%;
    }
}

@media (max-width: 480px) {
    
    #video-bereich video{
        width: 90%;
    }
}


/* Service-Bereich*/



#service-bereich{
    background-color: #f0f0f0;
    color: #000;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.service-box{
    background-color: #f0f0f0;
    text-align: center;
    width: 80%;
}

.service-box > h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#service-bereich .row:nth-of-type(2) > .col-2:first-of-type > .service-box{
    margin-right: 0;
    margin-left: auto;
}

#service-bereich .row:nth-of-type(2) > .col-2:nth-of-type(2) > .service-box{
    margin-left:auto ;
    margin-right: auto;
}

.service-icon{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s;
}

.service-icon:hover{
    transform: rotateZ(360deg);
}

#günstig-icon{
    background:var(--dunkelGrau) url("./../img/services-sprite.png") no-repeat 0px 0;
}

#schnell-icon{
    background:var(--dunkelGrau) url("./../img/services-sprite.png") no-repeat -120px 0;
}

#modern-icon{
    background:var(--dunkelGrau) url("./../img/services-sprite.png") no-repeat -240px 0;
}

@media (max-width: 768px) {
    
    #service-bereich .row:nth-of-type(2) > .col-2:first-of-type > .service-box{
        margin-right: auto;
        margin-left: auto;
    }
    
    #service-bereich .row:nth-of-type(2) > .col-2:nth-of-type(3) > .service-box{
        margin-left:auto ;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    
    .service-box{
        width: 100%;
    }
}


/* Über Uns-Bereich*/

#über-uns-bereich{
    background-color: #fff;
}

#über-uns-container{
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#über-uns-container > img{
    position: absolute;
    top: 0;
    right: 100px;
}

#über-uns-container > p{
    width:75%;
    font-size: 1.2rem;
}

@media (max-width: 1440px) {

    #über-uns-container > img{
        right: 50px;
    }
}

@media (max-width: 1280px) {
    
    #über-uns-container > img{
        right: 0;
    }
}

@media (max-width: 1140px) {
    
    #über-uns-container > p{
        width:100%;
    }

    #über-uns-container > img{
        display: none;
    }
}

/*Footer*/

#footer{
    background-color: var(--dunkelGrau);
    height: 2.8rem;
    color: #fff;
}

#footer-nav{
    display: block;
    float: right;
}

#footer-nav a{
    text-decoration: none;
}

#footer-nav a:link{
    color: #fff;
}


#footer-nav a:link{
    color: #fff;

}

#footer-nav a:visited{
    color: #fff;
}

#footer-nav a:active{
    color: #fff;
}

#footer:hover{
    color: var(--hellGrau);
    
}

@media (max-width: 550px) {
    
    #footer span{
        display: none;
    }
}

/* Leistungen-Seite */

.leistung2{
    background-color: var(--hellGrau);
}

.flex-container{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center ;
}

.flex-item > ul{
    padding: 0;
}

@media (max-width: 1366px) {
    .flex-container{
        width: 90%;
        
    }
}

@media (max-width: 1024px) {
    .flex-container{
        width: 100%;
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

.flex-container > .intro-container{
    width: 100%;
}

.leistungs-box{
    background-color: var(--dunkelGrau);
    flex-basis: 25%;
    color: #fff;
    padding: 2rem 4rem;
    text-align: center;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style-position: inside;
}

.leistungs-box-empfohlen {
    flex-basis: 27.5%;
    min-height: 750px;
    box-shadow: 0 0 20px 0 var(--dunkelGrau);
    font-size: 1.05rem;
}

@media (max-width: 1782px) {
    .leistungs-box{
        flex-basis:27.5%;
    
    }
    
    .leistungs-box-empfohlen {
        flex-basis: 30%;
    }
}

@media (max-width: 1622px) {
    .leistungs-box{
        flex-basis:30%;
    
    }
    
    .leistungs-box-empfohlen {
        flex-basis: 32.5%;
    }
}

@media (max-width: 1488px) {
    .leistungs-box{
        padding: 1rem 1rem
    
    }

    .flex-container{
        align-items: stretch;
    }
    .leistungs-box-empfohlen {
        min-height: initial;
    }
}

@media (max-width: 1088px) {
    .flex-container{
        display: flex;
        width: 80%;
        margin-left:   auto;
        margin-right: auto;
        justify-content: space-around;
        align-items: center ;
        flex-direction: column;
        padding: 0;
    }

    .leistungs-box{
        padding: 2rem 4rem;
        margin-bottom: 2rem;
        min-height: initial;
    }

}

@media (max-width: 768px) {
    .flex-container{
        width: 90%;
    }
}


@media (max-width: 409px) {
    .leistungs-box{
        padding: 1rem 2rem;
    }
}
/*
@media (max-width: 618px) {
    .leistungs-box{
        padding: 1rem 2rem;
    }

    .flex-container{
        padding: 0;
    }
}
*/

.leistungs-box > h1{
    margin-bottom:0;
    margin-top: 1.5rem;
}

.leistungs-box > ul{
    padding: 0;

}

.leistungs-box > ul > li{
    list-style-position: inside;
    margin-bottom: .5rem;
}

.leistung-auswählen-btn{    
    width: 50%;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    min-width: 170px;
}

.leistung-auswählen-btn:hover{    
    font-weight: normal;
}


/* Kontakt-Seite*/

#kontakt-formular input,
#kontakt-formular textarea{
    width: 100%;
    border: 2px solid var(--dunkelGrau);
    padding:.5rem;
    font-size: 1rem;
    font-family: 'Open Sans','Lato', 'Helvetica Neue', 'Arial', sans-serif;
    transition: border .2s ease-in-out;
    margin: 1rem;
}

#kontakt-formular textarea{
    height: 100px;
}

#kontakt-formular input:hover,
#kontakt-formular input:focus,
#kontakt-formular textarea:hover,
#kontakt-formular textarea:focus{
    border: 2px solid var(--rot);
}

#absendenButton{
    width: 150px;
    height: 39px;
}

#kontakt-formular{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20rem;
}

@media (max-width: 1366px) {
    #kontakt-formular{
        width: 90%;
    }
}

@media (max-width: 1024px) {
    #kontakt-formular{
        width: 100%;
    }
}

@media (max-width: 768px) {
    #kontakt-formular button{
        width: 100%;
        padding-left: auto;
        padding-right: auto;
    }

    #kontakt-formular input, #kontakt-formular textarea{
        margin: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}


/* Impressum-Seite */

.impressum-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26.5rem;
}


/* Grid-System (Sichtbarkeit)*/

/*.border, .border *{
    border: 1px solid #91c4ff;
}

[class*='col-']{
    background-color: #bfddff;
}

p{
    background-color: #91c4ff ;
    padding: 0;
    margin: 0;
    color:#fff;
    text-align: center;
}
*/


/* Grid-System*/

.container{
    width:96% ;
    margin-left: auto;
    margin-right: auto;

}

.row::after{
    content: "";
    clear: both;
    display: block;
}

[class*='col-']{
    float: left;
    min-height: 1px;
    padding: .8rem;
}

.col-1{width: 16.666%;}
.col-2{width: 33.333%;}
.col-3{width: 50%;}
.col-4{width: 66.666%;}
.col-6{width: 100%;}



/*
    WICHTIGE BREAKPOINTS

    480     Pixel   (iPhone Querformat)
    768     Pixel   (iPad Hochformat)
    1024    Pixel   (iPad Querformat)
*/

@media (max-width: 1024px) {

    .col-1{width: 33.333%;}
}

@media (max-width: 768px) {

    .col-1{width: 50%;}
    .col-2{width: 100%;}
    .col-3{width: 100%;}
    .col-4{width: 100%;}
}

@media (max-width: 480px) {

    .col-1{width: 100%;}
    .col-2{width: 100%;}
    .col-3{width: 100%;}
    .col-4{width: 100%;}
}
